<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=food[index].name.charAt(0).toUpperCase() + food[index].name.slice(1)%></h2>
    <img src="<%=food[index].image %>" alt="<%=food[index].name %>" width="400">
    <h3>$<%=food[index].price %></h3>
    <a href="/menu">Back</a>
</body>
<style>
    body {
        color: blanchedalmond;
        background-color: steelblue;
    }
    
</style>
</html>